.background{
    margin-top: 100px;
    margin-left: 100px;
    height: 1000px;
    width: 1000px;
    }

   

      h1{
        margin-top:50px;
        font-weight: 400;
        color: grey;
       text-align: justify;
       
      }

      .head-text {
        position: relative;
        
     }
     .text-on-image {
       position: absolute;
       left: 10%;
       right:10%;
       bottom:2%;

       font-size: 20px;
       color: grey;
       text-align: justify;
        text-overflow: normal;
     }

     