 .contact-content {
                width: 400px;
                height:350px;
                padding:20px;
                  margin-bottom: 100px;
                   float:left;
                 background-color:Grey;
                 text-align: left;
                 font-size: 30px;
                 margin-left:600px;
                 
              }
        
          
h3{
         margin-top:10px;
        color:orangered;
        text-align: center;
        font-size: 30px;
       
        
       }

       p1{
         font-size: 20px;
        
       }
       
        
           
           